@model SoftCMS.Models.MainThemes

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_SoftLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MainThemes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContentText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublichDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublichDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.Submit("Delete", new { @class = "btn btn-default" }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
