@model IEnumerable<SoftCMS.Models.MainArticleModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SoftLayout.cshtml";
}

<h2 style="color:white;">文章列表</h2>

<table class="table" id="article_view" style="color:white;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplyCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublichDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReplyCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublichDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateUser)
        </td>
        <td>
            @Html.ActionLink("刪除", "Delete", new { id=item.ID }, new { onclick = "return confirm('確定要刪除嗎?');" }) | 
        </td>
    </tr>
}

</table>
@Html.ActionLink("管理帳號首頁", "Index", "Users")
